.totalcost{ 
  margin-left: 80%; 
  } 
  .total-values{ 
  margin-left: 80%; 
  } 
  input { 
  border: none; 
  border-bottom: 2px solid red; 
  width: 250px; 
  } 
  .flex-container { 
  display: flex; 
  justify-content: flex-start; 
  } 
  .flex-container>label{ 
  margin-left: 10px; 
  text-align: left; 
  } 
  .team-fields{ 
  display: flex; 
  justify-content: flex-start; 
  } 
  .team-fields>div{ 
  margin-left: 10px; 
  text-align: left; 
  } 
  
  .dropdown{ 
  margin-left: 65%; 
  } 
  .main { 
  width: 100%; 
  float: left; 
  padding: 15px; 
  border: 1px solid red; 
  }
  span{
    float: right;
  }