<app-header></app-header>
<div *ngFor="let team of teamArray.controls; let i =index;"> 


        <div class="container "> 
        <div class="panel-group" id="faqAccordion"> 
        <div class="panel panel-default "> 
        <div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse" data-parent="#faqAccordion" [attr.data-target]="'#question'+i"> 
        <h4 class="panel-title"> 
        {{teams[i].team_name}}<span>{{teams[i].amount | currency:'USD'}}</span> 
        </h4> 
        
        </div> 
        <div [attr.id]="'question'+i" class="panel-collapse collapse" style="height: 0px;"> 
        <div class="panel-body"> 
        
        <button type="submit" (click)="Edit(i,team)" >Edit</button> 
        <!--<button class="btn btn-lg btn-outline-primary" (click)="open()">Launch demo modal</button> --> 
        <button type="submit" (click)="delete(i, team)">Delete</button> 
        </div> 
        </div> 
        </div> 
        </div> 
        </div> 
        </div> 
        <app-footer></app-footer> 
        <!-- <div> <h4>Total amount</h4><span>{{totalAmount | currency:'USD'}}</span></div> -->